html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;

}

body {
    display: table-cell;
    vertical-align: middle;
    transform: scale(1.2);
}

body{
    font-size: medium;
    font-family: "Comic Sans MS", sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle;

}

.login_form  {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.header {
    color: black;
}

.login {
    width: 200px;
}
#password_input{
    width: 330px;
    height: 25px;
}
#login_input{
    width: 330px;
    height: 25px;
}



@media screen
and (max-device-width: 642px)
and (min-device-width: 2px) {
    input {

    }
    body {
        transform: scale(2);


    }

    #buttons_lr {
        display: grid;

    }
    .login {
        width: 406px;
    }

}


@media screen
and (max-device-width: 1079px)
and (min-device-width: 643px)
{
    body {
        transform: scale(2);


    }
}
